@model BlindDating.Models.DatingProfile

@{
    ViewData["Title"] = "Show Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Showing Profile for this dater.</h2>

<div>
    <h4>DatingProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Browse">Back to Browse</a>
    <a asp-controller="Messages" asp-action="NewMessage" asp-route-id="@Model.Id">Send Message </a>
</div>
